@import '~semantic-ui-css/semantic.css';
@import '~tachyons/css/tachyons.css';
@import '~react-toastify/dist/ReactToastify.css';

body {
  margin: 0;
  padding: 0;
}

i.help.grey.icon {
  color: #9943f5 !important;
}

.ui.checkbox label,
.ui.checkbox + label,
.custom-label {
  font-size: 0.85em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
}

.ui.toggle.checkbox input:focus:checked ~ .box:before,
.ui.toggle.checkbox input:focus:checked ~ label:before {
  background-color: #9943f5 !important;
}

.ui.toggle.checkbox input:checked ~ .box:before,
.ui.toggle.checkbox input:checked ~ label:before {
  background-color: #9943f5 !important;
}

.ui.toggle.checkbox input:focus:checked ~ .box:before,
.ui.toggle.checkbox input:focus:checked ~ label:before {
  background-color: #9943f5 !important;
}

.ui.form .inline.fields {
  margin: 0em 0em 0em;
}

.extra-marker i {
  font-style: normal;
  font-size: 12px;
  font-weight: bold;
}

.ui.menu .item {
  width: 50%;
}

.ui.menu:not(.vertical) .item {
  justify-content: center;
}
